.btn {
  background: rgb(62, 189, 240);
  color: white;
  border-radius: 24px 24px 24px 0px !important;
}
#btnGroupDrop1 {
  background: rgb(254, 254, 255);
  color: blue;
  margin-left: -20%;
  height: 35px;
  margin-top: 35%;
}
.dropdown-menu {
  margin-top: -22% !important;
  margin-left: -30% !important;
}

.dropdown-item {
  color: blue !important;
}
video {
  min-width: 100%;
  min-height: 50%;
  width: auto;
  height: auto;
}
img {
  margin-top: -7%;
  margin-left: 5%;
}
.sub-menu {
  position: absolute;
  background: black;
  display: none;
  margin-top: -2%;
  border-radius: 5px;
}
.sub-menu li a {
  display: block;
  padding: 10px;
  color: white;
}
.menu_area li:hover .sub-menu {
  display: block;
}
